<div class="authorization">
    <h2 class="authorization__title">Authorization</h2>
    <form class="authorization__form" action="/" method="post">
        <div class="authorization__fields">
            <input class="authorization__input" placeholder="Email" name="user_email" id="user_email" type="email"
                   required>
            <input class="authorization__input" placeholder="Password" name="user_password" id="user_password"
                   type="password" required>
        </div>
        <div class="authorization__buttons">
            <label for="remember_me">
                <input class="authorization__remember-me" type="checkbox" name="remember_me" id="remember_me">
                <span>Remember me</span>
            </label>
            <button class="authorization__submit" type="submit" value="Вход">Submit</button>
        </div>
    </form>
</div>
